@font-face { font-family: 'KyoboHand'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
*{
    font-family: 'Binggrae-Bold';
    
}


.nev_right{
    margin-left: 1000px;
    font-size: small;
}

.menu_1{
    font-size: small;
    color: white;
    
}

.slide_size{
    margin-left: 80px;
    width: 1200px;
}

.margin_btn{
    margin-top: 200px;
    margin-left: 100px;
}

.card_title{
    margin-left: 50px;
    margin-top: 100px;
}

ul{
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #333333;
}

a:visited {
    text-decoration: none;
    color: #333333;
}

a:active {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: underline;
    color: red;
}














